<a href="https://colab.research.google.com/github/nitishdhawan18/AI_ML/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas library
import pandas as pd

# Creating a Pandas Series with index
s = pd.Series([2,3,4,5], index=['a','b','c','d'])
print(s)

# Creating a DataFrame with country data
data = {
    'Country': ['Belgium', 'India', 'Brazil'],
    'Capital': ['Brussels', 'New Delhi', 'Brasilia'],
    'Population': [11000045, 139171345, 212823853]
}

df = pd.DataFrame(data)
print(df)

# Checking the shape of the DataFrame
print(df.shape)

# Slicing to get rows from index 1 onwards
print(df[1:])

# Slicing a specific cell (row

a    2
b    3
c    4
d    5
dtype: int64
   Country    Capital  Population
0  Belgium   Brussels    11000045
1    India  New Delhi   139171345
2   Brazil   Brasilia   212823853
(3, 3)
  Country    Capital  Population
1   India  New Delhi   139171345
2  Brazil   Brasilia   212823853